.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

h3 {
  font: bold 38px "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
  text-align: center;
  padding-top: 115px;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font: bold 17px "Merriweather", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

h5 {
  font: bold 20px "Merriweather", sans-serif;
  color: rgba(255, 255, 255, 0.95);
  text-transform: uppercase;
}

ul {
  padding-left: 0;
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

.header {
  background: #eff0f2;
}

.headerTop {
  padding-top: 50px;
}

.headerTop::before {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.headerTop::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.headerTop .logo {
  float: left;
  border: 5px solid #170f1c;
  padding: 0 5px;
}

.headerTop .logo h1 {
  font: bold 17px "Montserrat", sans-serif;
  color: #000;
  text-transform: uppercase;
}

.headerTop .logo h1 span {
  font-size: 21px;
  color: #77efe5;
}

.headerTop .nav {
  float: right;
}

.headerTop .nav li {
  float: left;
  margin-left: 15px;
}

.headerTop .nav li a {
  display: block;
  font: bold 15px "Merriweather", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  color: #505050;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.headerTop .nav li a:hover {
  color: black;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
}

.headerBottom {
  padding-top: 200px;
  text-align: center;
  position: relative;
}

.headerBottom h2 {
  font: bold 45px "Montserrat", sans-serif;
  color: #505050;
  text-shadow: 4px 6px 6px #c9c9cb;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.headerBottom h2 span {
  background: #b2f2ee;
}

.headerBottom a {
  font: 18px "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  display: inline-block;
  margin-top: 125px;
  margin-bottom: 190px;
  padding: 15px 40px;
  border: 2px solid #777879;
}

.headerBottom a:hover {
  background: #fff;
}

.headerBottom img {
  display: block;
  position: absolute;
  left: 80%;
  top: 70%;
}

.about {
  background: #f8fafa;
}

.about .aboutTitle p {
  font: 18px "Merriweather", sans-serif;
  color: rgba(0, 0, 0, 0.62);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.about .aboutContent {
  margin-top: 120px;
  padding-bottom: 90px;
}

.about .aboutContent::before {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.about .aboutContent::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.about .aboutContent .aboutSlider {
  float: left;
  width: 40%;
}

.about .aboutContent .aboutContentRight {
  float: right;
  width: 50%;
}

.about .aboutContent .aboutContentRight p {
  font: 16px "Raleway";
  color: rgba(0, 0, 0, 0.74);
  line-height: 1.6;
}

.about .aboutSlider {
  text-align: center;
}

.about .aboutSlider .aboutSliderWrapper {
  background: url("../img/slidderWrapper.png") center center no-repeat;
  height: 483px;
  position: relative;
  margin-bottom: 20px;
}

.about .aboutSlider .aboutSliderWrapper img {
  position: absolute;
  left: 34px;
  opacity: 0;
  transition: opacity .9s;
}

.about .aboutSlider .aboutSliderWrapper .show {
  opacity: 1;
}

.about .aboutSlider span {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.about .aboutSlider .active {
  background: aqua;
}
